<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h2>Forgot password</h2>
      <h2 *ngIf="loading">Loading</h2>
      <p>{{message}}</p>
      <form autocomplete="off" action="#" [formGroup]="forgotPasswordForm">
        <div>
          <input type="email" formControlName="email" class="form-control" placeholder="Your email e.g you@domain.com">
          <span *ngIf="forgotPasswordFormSubmitted && fforgotPassword.email.errors">Email is required</span>
        </div>
        <div class="padding-top-15">
          <button (click)="onForgotPassword()" type="button" class="btn btn-success">Send Email</button>
        </div>
      </form>

    </div>
  </div>
</div>
